html.bg body {
	background-position:center;
	background-size: cover !important;
}

html.bg section section {
	background-color: rgba(0,0,0,0.6) !important;
}

html.intro body {	
	background-image:url("images/intro_bg.jpg");
}

html.learning body {	
	background-image:url("images/learning.jpg");
}

html.security body {	
	background-image:url("images/security.jpg");
}

html.commands body {	
	background-image:url("images/commands.jpg");
}

html.compact body {	
	background-image:url("images/compact.jpg");
}

/*
html.hands-on section h2 :before{
	content: "HANDS-ON";
}
*/