html.bg body {
	background-position:center;
	background-size: cover !important;

	-webkit-transition: background-image 0.8s !important;
	-moz-transition: background-image 0.8s !important;
	-o-transition: background-image 0.8s !important;
	transition: background-image 0.8s !important;
}

html.bg section section {
	background-color: rgba(0,0,0,0.6) !important;
}

.button {
	margin-left: 0.5em !important;
	margin-top: 0.5em !important;
	display:none !important;
	width: 150px;
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
}

html.hands-on .button {
	display:block !important;
}

html.intro body {	
	background-image:url("images/intro_bg.jpg");
}

html.learning body {	
	background-image:url("images/learning.jpg");
}

html.security body {	
	background-image:url("images/security.jpg");
}

html.commands body {	
	background-image:url("images/commands.jpg");
}

html.compact body {	
	background-image:url("images/compact.jpg");
}

html.secure body {	
	background-image:url("images/security2.jpg");
}

html.open body {	
	background-image:url("images/open.jpg");
}

html.interoperable body {	
	background-image:url("images/interoperable.jpg");
}

html.moon body {	
	background-image:url("images/moon.jpg");
}

html.sensors body {	
	background-image:url("images/sensors.jpg");
}

/*
html.hands-on section h2 :before{
	content: "HANDS-ON";
}
*/


.button {
  -moz-border-radius: 25px;
  -moz-box-shadow: #6E7849 0px 0px 10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #000000;
  background-image: -moz-linear-gradient(90deg, #d0c9f7, #000000);
  background-image: -ms-linear-gradient(90deg, #d0c9f7, #000000);
  background-image: -o-linear-gradient(90deg, #d0c9f7, #000000);
  background-image: -webkit-linear-gradient(90deg, #d0c9f7, #000000);
  background-image: linear-gradient(90deg, #d0c9f7, #000000);
  border-radius: 25px;
  border: 2px solid #4a5032;
  box-shadow: #6E7849 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-family: "League Gothic", Impact, sans-serif !important;
  font-size: 4em;
  margin: auto;
  padding: 15px !important;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease;
  position: static;
  left: 0px; top:0px;
}

div.tree {
	margin-left: -2em;
}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s !important;
	-webkit-transition: all 0.5s!important;
	-moz-transition: all 0.5s!important;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s!important;
	-webkit-transition: all 0.5s!important;
	-moz-transition: all 0.5s!important;


}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8 !important; color: #000; border: 1px solid #94a0b4 !important;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4 !important;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/